.info-table-container {
  width: 100%;
  background-color: white;
  margin: 0px !important;

  border: none;
  border-radius: 8px;

  border: none;
  border-radius: 8px;
  box-shadow: 15px 10px 48px -13px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 15px 10px 48px -13px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 15px 10px 48px -13px rgba(0, 0, 0, 0.43);

  p {
    font-size: 20px;
    padding: 0px 8px;
    margin-bottom: 0px;
  }

  .table-heading {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 6px;

    svg {
      font-size: 25px;
    }
    span {
      font-size: 22px;
    }
  }
}
