.graphic-score-container {
  width: 100%;
  height: 240px;
  background-color: white;
  margin: 0px !important;
  padding: 12px 0px;

  border: none;
  border-radius: 8px;
  box-shadow: 15px 5px 48px -13px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 15px 5px 48px -13px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 15px 5px 48px -13px rgba(0, 0, 0, 0.43);

  p {
    font-size: 20px;
    padding: 0px 8px;
    margin-bottom: 0px;
  }

  .chart-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    span {
      position: absolute;
      top: 52%;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .sc-container {
    width: 100%;

    .sc-gauge {
      width: 90%;
      margin: 25px auto 4px;
    }
    .sc-background {
      position: relative;
      height: 100px;
      margin-bottom: 10px;
      background-color: #fff;
      border-radius: 150px 150px 0 0;
      overflow: hidden;
      text-align: center;
    }
    .sc-mask {
      position: absolute;
      top: 20px;
      right: 20px;
      left: 20px;
      height: 80px;
      background-color: white;
      border-radius: 150px 150px 0 0;
    }
    .sc-percentage {
      position: absolute;
      top: 100px;
      left: -200%;
      width: 400%;
      height: 400%;
      margin-left: 100px;
      background-color: #00aeef;
    }
    .sc-percentage {
      transform: rotate(25deg);
      transition: transform 1s;
      transform-origin: top center;
    }
    .sc-status {
      display: flex;
      justify-content: center;
    }

    .sc-value {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      font-size: 40px;
      font-weight: 700;
    }
  }
}
